* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'seoge ui';
    
}
html,
body {
    height: 100%;
    width: 100%;
}

.cards{
  min-height: 100vh;
  padding: 30px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #222;
  gap: 20px;

}


.card{
  background-color: #fff;
  width: 330px;
  height: 350px;
  /* border: 1px solid #3b3b3b; */
  border-radius:20px ;
  /* margin: 10px 10px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */

}


.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.image{
  height: 50px;
  width: 50px;
  padding: 5px;
  border: 1px solid #bababa;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image img{
  height: 30px;
  border-radius: 50%;
}

.top button{
  padding: 2px 10px;
  height: 30px;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #bababa;
  border-radius: 5px;
  color: #989898;
}

.center{
  padding: 30px 0px;
}

.center div{
  font-size: 20px;
  font-weight: 900;
  padding: 5px 0px;
}

.center span{
  font-size: 12px;
  font-weight:100 ;
  color: #989898;
}

.center h4{
  font-size: 26px;
  padding: 5px 0px;
}

.center div button{
  padding: 5px 10px;
  margin: 0px 2px;
  border: none;
  border-radius: 2px;
  font-size: 15px;

}

.bottom{
  display: flex;
  flex-direction: column;

  /* align-items: center; */

}

.line{
  width: 100%;
  height: 1px;
  border: 1px solid #dadada;
  /* margin: 0 5px; */
}


.b1{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 10px;
}

.pay{
  font-size: 18px;
  font-weight: 900;
}

.loc{
  font-size: 12px;
  color: #bababa;
}

.bottom button{
  padding: 5px 20px ;
  background-color: #222;
  color: rgb(207, 207, 207);
  border: none;
  border-radius:5px;
}










